/* panel header */
#panels-container .panel:not(.webpanel):not(#mail_panel):not(#calendar_panel) > header {margin-bottom: -6px; padding-bottom: 12px;}
#panels-container .panel:not(.webpanel):not(#mail_panel):not(#calendar_panel) > header .toolbar-align-top {margin-bottom: -23.3px}
#panels-container .panel:not(.webpanel):not(#mail_panel):not(#calendar_panel) > header h1 {margin: 0 auto 0 50px; font-size: inherit; opacity:.35; pointer-events:none;}
#panels-container .panel > header input:not(:placeholder-shown) {z-index:1;}
#panels-container .panel.panel-bookmarks > header input[type=search] {min-width: 115px;}

/* mail & feed panel header */
#mail_panel > header {display: flex; flex-flow: row wrap; justify-content: space-between; margin: -12px 19px 6px 0;}
#mail_panel > header h1 {align-self: self-end; margin: 6px 0 0;}
#mail_panel > header button.close {position: absolute; right: 6px; top: 12px;}
#mail_panel > header > div:last-child {margin: 6px 0 0;}

/* calender panel header */
#calendar_panel > header {display: flex; flex-flow: row wrap; justify-content: space-between; align-items: baseline; margin: -6px 13px 0 0;}
#calendar_panel > header > .toolbar-align-top {position: absolute; right: 6px; top: 12px;}
#calendar_panel > header > .toolbar-align-top h1 {display:none;}
#calendar_panel > header > div:not(:first-child) {flex: 1 1 auto; margin: 0 6px 6px 0;}
#calendar_panel .PeriodPicker {margin:0;}
#calendar_panel > header > div:last-child {flex-wrap: nowrap; transform-origin: left;}
.panel-collapse-guard[style^='min-width: 23'] > #calendar_panel > header > div:last-child {transform: scaleX(0.95);}
.panel-collapse-guard[style^='min-width: 22'] > #calendar_panel > header > div:last-child {transform: scaleX(0.92);}

/* option A: show close button */
#panels-container .panel:not(.webpanel):not(#mail_panel):not(#calendar_panel) > header button.close {transform: translateX(6px);}
#panels-container .panel:not(.webpanel):not(#mail_panel):not(#calendar_panel) > header > div:last-child {margin-right: 19px;}