#browser:not(.fullscreen) #webpage-stack {
/* change color (last parameter) to your preferred color */
    box-shadow: 0 0 0 1rem var(--colorBorder);

    border-bottom-left-radius: 0.75rem;
    border-bottom-right-radius: 0.75rem;
    
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
}

/* remove this blog to remove the the curved border on the top left */
#browser:not(.fullscreen) #webpage-stack::before {
    content: '';
    position: absolute;
    width: .75rem;
    height: .75rem;
    background-color: var(--colorBorder); /* change color to your preferred color */
    -webkit-mask-image: radial-gradient(circle at 0 0, rgba(0, 0, 0, 0) 70%, #000 73%);
    transform: rotate(180deg);
    z-index: 1;
}

/* remove this blog to remove the the curved border on the top right*/
#browser:not(.fullscreen) #webpage-stack::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: .75rem;
    height: .75rem;
    background-color: var(--colorBorder); /* change color to your preferred color */
    -webkit-mask-image: radial-gradient(circle at 0 0, rgba(0, 0, 0, 0) 70%, #000 73%);
    transform: rotate(-90deg);
    z-index: 1;
    top: 0;
    right: 0;
}

.panel-group::before{
    content: '';
    position: absolute;
    width: .75rem;
    height: .75rem;
    background-color: var(--colorBorder); /* change color to your preferred color */
    -webkit-mask-image: radial-gradient(circle at 0 0, rgba(0, 0, 0, 0) 70%, #000 73%);
    transform: rotate(180deg);
}

.panel-group::after{
    content: '';
    position: absolute;
    bottom: 0;
    width: .75rem;
    height: .75rem;
    background-color: var(--colorBorder); /* change color to your preferred color */
    -webkit-mask-image: radial-gradient(circle at 0 0, rgba(0, 0, 0, 0) 70%, #000 73%);
    transform: rotate(90deg);
}

.StatusInfo {
    margin-bottom: .5rem;
}

.panel-group {
    margin-bottom: .5rem;
}