@media all and (display-mode: browser) {
  body:has(#main > .inner:hover) {
    #header, .bookmark-bar {
      display: none;
    }
    .mainbar {
      /* Hide content. */
      * {display: none;}
      /* But remain as 5px bar we can hover over (or else it would only work for maximized windows). */
      height: 5px;
    }
  }
}
