/*Title bar*/
.Vivaldi {
    top: 5px;
    left: 2px;
}

#titlebar {    
    top: 5px;
}

#header {
    padding-top: 3px;
    padding-bottom: 3px;
}

#browser.win .window-buttongroup button {
    border-radius: var(--radiusHalf);
}

/*Tool bar*/
#tabs-container .tab:not(.tab-group) {
    border-radius: var(--radiusHalf);
}

.tabs-at-edge #tabs-tabbar-container.top,
.native:not(.stacks-dotted) #tabs-tabbar-container.top {
    padding-top: 2px;
}

.toolbar-mainbar {
    .toolbar-extensions>.button-toolbar>button,
    .page-zoom-controls>.button-toolbar>button,
    >.button-toolbar>button,
    .toolbar-extensions>.toolbar-group>.button-toolbar>button,
    .page-zoom-controls>.toolbar-group>.button-toolbar>button,
    >.toolbar-group>.button-toolbar>button {
        border-radius: var(--radiusHalf);
    }
}

.color-behind-tabs-off {
    #tabs-subcontainer.top,
    .transparent-tabbar #tabs-subcontainer.top {
        margin-left: 48px;

        .address-top .mainbar {
            border: 0px;
        }
    }
}

.transparent-tabbar.tabs-top .button-toolbar.workspace-popup.tabbar-workspace-button button {
    border-radius: var(--radiusHalf);
}

.transparent-tabbar.tabs-top .button-toolbar.workspace-popup.tabbar-workspace-button {
    
    background-color: transparent;
}

.tabs-top {
    .maximized .vivaldi {
        height: 29px; 
    }
    .tab.active:not(.marked):not(.tab-mini):not(.tab-in-accordion):after,
    .tab.active:not(.marked):not(.tab-mini):not(.tab-in-accordion):before {
        bottom: 0;
        -webkit-mask-image: radial-gradient(circle at 0 0, transparent, transparent 73%);

        .tab-position {
            .tab.insubstrip.active:not(.marked) {
                padding-bottom: 2px;
                margin-bottom: 0;
                border-radius: var(--radiusHalf);
            }

            .tab,
            .tabs-bottom .tab-position .tab {
                margin-right: 2px;
                margin-left: 2px;
            }
        }
    }
}

.toolbar-tabbar.sync-and-trash-container {
    margin-right: 8px;
}

/*Start Page*/

.tracker-warning,
.SpeedDialView-SearchField,
.SpeedDial-Blocked-Counter {
    backdrop-filter: var(--backgroundBlur);
    background-color: var(--colorBgAlphaBlur);
}

.startpage .startpage-navigation {
    background-color: var(--colorBgAlphaBlur);
    backdrop-filter: var(--backgroundBlur);
}

.speeddial .dial {
    backdrop-filter: var(--backgroundBlur);
}

/*Task panel*/
.calendar-grid-agenda .cal-tasks-row .cal-tasks-row-date.current {
    margin: 10px 0px 2px 0;
    /* padding: 7px 0px 7px 0; */
}

.calendar-grid-agenda .cal-tasks-row .cal-tasks-row-date {
    padding: 10px 0px 7px 0;
}

.calendar-grid-agenda .cal-tasks-row .cal-tasks-row-events .event-container {
    margin: 5px 0px 5px 0;
}

.calendar-event {
    margin: 0px 2px;
    padding: 10px 0px 10px 2px;

    .cal-event-body-content {
        margin-left: 22px;
    }
}

/*Notes*/
.sortselector {
    height: 32px;
    padding-left: 2px;
    .sortselector .sortselector-button {
        height: 32px;
    }
}
