#header {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 5px;
}

#tabs-container .tab:not(.tab-group) {
    border-radius: var(--radiusHalf);
    margin-left: 3px;
    margin-right: 3px;
}

.tabs-top .tab.active:not(.marked):not(.tab-mini):not(.tab-in-accordion):after,
.tabs-top .tab.active:not(.marked):not(.tab-mini):not(.tab-in-accordion):before {
    bottom: 0;
    -webkit-mask-image: radial-gradient(circle at 0 0, transparent, transparent 73%);
}

#panels-container {
    background-color: transparent;
}

.vivaldi {
    top: 5px;
    display: true;
}

#header #titlebar .window-buttongroup {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 1px;;
}

.toolbar-tabbar.sync-and-trash-container {
    margin-right: 8px;
}

.speeddial .dial {
    border-radius: var(--radius);
    backdrop-filter: var(--backgroundBlur);
    background-color: transparent;
}

.NotesManager {
    backdrop-filter: var(--backgroundBlur);
}

.NotesManager-Note {
    background-color: var(--colorBgAlpha);
    backdrop-filter: var(--backgroundBlur);
}