/* Workspaces button adjustment */
.workspace-popup:not(.label) .button-title {
    display: none;
}

:is(.tabs-left, .tabs-right) .tabbar-wrapper .workspace-popup:not(.label) .button-title {
    display: revert;
}

.workspace-popup:not(.label) .button-icon:after {
    content: "|";
    position: absolute;
    right: 1.16rem;
    font-size: 0.9em;
    font-weight: 200;
    color: inherit;
    opacity: 0.3;
}

:is(.tabs-left, .tabs-right) .tabbar-wrapper
.workspace-popup:not(.label) .button-icon:after,
:is(#modal-bg.toolbar-editor, #panels) .workspace-popup .button-icon:after {
    display: none;
}