/* Stylish Animate tab highlight on hover*/
.tab-position .tab:not(.active):hover {
    background: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)), var(--colorAccentBgAlpha);
	border-radius: var(--radiusHalf);
	transform: scale(1.05);
	transition: .2s ease-out !important;
}
#browser .tab-position .tab.active:hover {
	transform: scale(1.05);
	transition: .2s ease-out !important;
}
.tab-position.is-substack > .tab.active {
	margin-bottom: 0px !important;
}