#browser span:nth-child(odd) .tab-position .tab:not(.active) {
  background-color: black !important;
}
#browser span:nth-child(even) .tab-position .tab:not(.active) {
  background-color: gray !important;
}