#browser {
  --addressBarPaddingRight: 137px;
  --addressBarPaddingLeft: 34px;
  --headerElementsHeight: 34px;
  --tabBarPaddingRightToSeeTrashAndSync: 92px;
  /* comment out the line below to NOT unify tab bar color with the address bar and bookmark bar*/
  --unified: transparent;
  --backgroundColor: var(--unified, var(--colorBg));
  --backgroundColorAccent: var(--unified, var(--colorAccentBg));
  /* comment out the line below to remove the drag region on the bookmark bar and tab bar */
  --allowWindowDrag: 1;
}

/* top addressbar above top tabbar */
#header {
  padding-top: 36px;
}

/* allows mainbar to be positioned absolute */
#main {
  overflow: unset;
  position: unset;
}

.mainbar {
  position: absolute;
  top: 0;
  left: var(--addressBarPaddingLeft);
  width: calc(100% - var(--addressBarPaddingLeft) - var(--addressBarPaddingRight));
  z-index: 2 !important;
}

/* not sure if needed... */
/* brings vivaldi button and win controls to front */
#browser.tabs-top #header {
  backdrop-filter: unset;
  contain: unset;
}
#browser.tabs-top.address-top #main {
  overflow: visible;
}

/* Sets tabs to fill entire bar */
#tabs-tabbar-container.top {
  margin-left: 0px !important;
  margin-right: -90px !important;
}
#browser.tabs-top.address-top #tabs-tabbar-container > div {
  padding-left: 2px;
}

/* bookmark bar enabled */
#browser.tabs-top.address-top.bookmark-bar-top #header {
  padding-top: 65px;
}
#browser.tabs-top.address-top.bookmark-bar-top .bookmark-bar {
  position: fixed;
  top: 34px;
  left: 0;
  right: 0;
}
#browser.tabs-top.address-top.bookmark-bar-top.maximized:not(.tabs-at-edge) .bookmark-bar {
  top: 41px;
}
.color-behind-tabs-off .bookmark-bar,
.color-behind-tabs-off .bookmark-bar button {
  background-color: var(--backgroundColorAccent);
}
.color-behind-tabs-on .bookmark-bar,
.color-behind-tabs-on .bookmark-bar button {
  background-color: var(--backgroundColor);
}
.bookmark-bar {
  border-color: var(--unified, var(--colorAccentBgDark)) !important;
}

/* horizontal menu enabled */
#browser.tabs-top.address-top.horizontal-menu #header {
  --headerElementsHeight: 24px;
}
/* Make window controls same color as menu bar */
#browser.tabs-top.address-top.horizontal-menu .window-buttongroup {
  background-color: var(--colorTabBar);
}
#browser.tabs-top.address-top.horizontal-menu #header {
  padding-top: 38px !important;
}
#browser.tabs-top.address-top.horizontal-menu .topmenu {
  transform: translateY(-38px);
  margin-bottom: 0;
  color: var(--colorFg);
}
#browser.tabs-top.address-top.horizontal-menu #tabs-tabbar-container {
  padding-top: 0;
}
#browser.tabs-top.address-top.horizontal-menu .mainbar {
  left: 0;
  width: 100%;
  transform: translateY(24px);
}

/* bookmark bar & horizontal menu enabled */
#browser.tabs-top.address-top.horizontal-menu.bookmark-bar-top #header {
  padding-top: 65px !important;
}
#browser.tabs-top.address-top.horizontal-menu.bookmark-bar-top .topmenu {
  transform: translateY(-65px);
}
#browser.tabs-top.address-top.horizontal-menu.bookmark-bar-top .bookmark-bar {
  top: 58px !important;
}

/* ---------------------------- */
/*           New Stuff          */
/* ---------------------------- */

/* Shrink height of all the window action buttons */
.window-buttongroup button.window-minimize,
.window-buttongroup button.window-maximize,
.window-buttongroup button.window-close {
  height: var(--headerElementsHeight) !important;
}
/* Shrink height of Vivaldi menu button */
#titlebar button.vivaldi {
  height: var(--headerElementsHeight) !important;
  padding-top: 0;
}

/* Remove empty space to the right of tabs and above tabs*/
#tabs-container {
  padding-right: var(--tabBarPaddingRightToSeeTrashAndSync) !important;
}
#tabs-tabbar-container.top {
  padding-top: unset !important;
}

/* Make other title bar elements have the same color as the address bar elements */
#titlebar button.vivaldi,
.window-buttongroup {
  background-color: var(--backgroundColor);
}
.color-behind-tabs-off #titlebar button.vivaldi,
.color-behind-tabs-off .window-buttongroup {
  background-color: var(--backgroundColorAccent);
}
.toolbar-mainbar .toolbar-extensions,
.toolbar-mainbar {
  background-color: var(--backgroundColor);
}
.color-behind-tabs-off .toolbar-mainbar .toolbar-extensions,
.color-behind-tabs-off .toolbar-mainbar {
  background-color: var(--backgroundColorAccent);
}

/* Fix tabs showing above address bar and search dropdowns */
#tabs-tabbar-container.top {
  z-index: 0;
}

/* Remove line under address bar and extensions bar */
.address-top .mainbar > .toolbar-mainbar .toolbar-extensions:before,
.address-top .mainbar > .toolbar-mainbar:before {
  content: unset;
}

/* Move extension popups down to avoid crossing drag region which leads to dead zone */
/* Horizontal menu needs -24px margin when drag is disabled */
.extension-popup.top {
  margin-top: calc(var(--allowWindowDrag) * 29px);
}
#browser.tabs-top.address-top.horizontal-menu .extension-popup.top {
  margin-top: calc(var(--allowWindowDrag, -3.43) * 7px);
}
#browser.tabs-top.address-top.bookmark-bar-top .extension-popup.top {
  margin-top: calc(var(--allowWindowDrag) * 58px);
}
#browser.tabs-top.address-top.bookmark-bar-top.horizontal-menu .extension-popup.top {
  margin-top: calc(var(--allowWindowDrag, -0.71) * 34px);
}

#tabs-tabbar-container,
.bookmark-bar {
  app-region: var(--allowWindowDrag, no-drag);
}