div#browser:has(div.tabbar-workspace-button button[title="Streams"]) {
    --colorTabBar: green !important;
}

div#browser:has(div.tabbar-workspace-button button[title="Forums"]) {
    --colorTabBar: yellow !important;
}

div#browser:has(div.tabbar-workspace-button button[title="TV"]) {
    --colorTabBar: red !important;
}

div#browser:has(div.tabbar-workspace-button button[title="File Hosting"]) {
    --colorTabBar: magenta !important;
}

iv#browser:has(div.tabbar-workspace-button button[title="Music"]) {
    --colorTabBar: blue !important;
}

iv#browser:has(div.tabbar-workspace-button button[title="Social"]) {
    --colorTabBar: purple !important;
}
